In [22]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import seaborn as sb
pd.options.display.max_columns = 0

In [19]:
df_origin = pd.read_csv('train.csv')

In [2]:
final_df = pd.read_csv('df_final.csv')

In [3]:
target_correlation = final_df.corr()['log_price'].abs().sort_values(ascending=False)

In [6]:
target_correlation[:10]

log_price                    1.000000
room_type_Entire home/apt    0.606173
room_type_Private room       0.535544
accommodates_1               0.321770
median_home_value            0.295915
child_friendly               0.291688
bathrooms_1.0                0.286417
accommodates_2               0.278572
tv                           0.273767
accommodates_6               0.251924
Name: log_price, dtype: float64

In [7]:
high_correlation_columns = target_correlation[target_correlation > 0.05].index

In [9]:
len(high_correlation_columns)

58

In [10]:
model_cols = high_correlation_columns
final_df[model_cols]

,log_price,room_type_Entire home/apt,room_type_Private room,accommodates_1,median_home_value,child_friendly,bathrooms_1.0,accommodates_2,tv,accommodates_6,...,accommodates_14,bathrooms_5.5,LA,bathrooms_5.0,number_of_reviews,super_host,air_conditioning,bed_type_Airbed,Chicago,coffee_machine
0,5.010635,1,0,0,817.924202,1.0,1,0,0.0,0,...,0,0,0,0,1.098612,0,1.0,0,0,0.0
1,5.129899,1,0,0,899.221886,1.0,1,0,0.0,0,...,0,0,0,0,1.945910,0,1.0,0,0,0.0
2,4.976734,1,0,0,846.226920,1.0,1,0,1.0,0,...,0,0,0,0,2.397895,0,1.0,0,0,0.0
3,6.620073,1,0,0,954.725091,0.0,1,0,1.0,0,...,0,0,0,0,0.000000,0,0.0,0,0,0.0
4,4.744932,1,0,0,734.438561,0.0,1,1,1.0,0,...,0,0,0,0,1.609438,0,1.0,0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73946,4.605170,0,1,1,730.342385,0.0,1,0,0.0,0,...,0,0,0,0,0.000000,0,0.0,0,0,0.0
73947,5.043425,1,0,0,1000.000500,1.0,0,0,1.0,0,...,0,0,1,0,2.833213,0,0.0,0,0,0.0
73948,5.220356,1,0,0,730.342385,1.0,1,0,1.0,0,...,0,0,0,0,3.784190,1,1.0,0,0,1.0
73949,5.273000,1,0,0,956.294934,0.0,1,1,1.0,0,...,0,0,0,0,0.000000,0,1.0,0,0,0.0
73950,4.852030,1,0,0,523.736575,1.0,1,0,1.0,0,...,0,0,1,0,5.327876,1,0.0,0,0,0.0

### Data scaled

In [11]:
from sklearn.preprocessing import MinMaxScaler

# Perform min-max scaling
scaler = MinMaxScaler()
data_scaled = scaler.fit_transform(final_df[model_cols])

# Create a new DataFrame with scaled features
data_scaled = pd.DataFrame(data_scaled, columns=model_cols)
data_scaled.head()

,log_price,room_type_Entire home/apt,room_type_Private room,accommodates_1,median_home_value,child_friendly,bathrooms_1.0,accommodates_2,tv,accommodates_6,...,accommodates_14,bathrooms_5.5,LA,bathrooms_5.0,number_of_reviews,super_host,air_conditioning,bed_type_Airbed,Chicago,coffee_machine
0,0.500000,1.0,0.0,0.0,0.748624,1.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.184220,0.0,1.0,0.0,0.0,0.0
1,0.525898,1.0,0.0,0.0,0.860864,1.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.326299,0.0,1.0,0.0,0.0,0.0
2,0.492638,1.0,0.0,0.0,0.787699,1.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.402090,0.0,1.0,0.0,0.0,0.0
3,0.849485,1.0,0.0,0.0,0.937492,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
4,0.442303,1.0,0.0,0.0,0.633364,0.0,1.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.269878,0.0,1.0,0.0,0.0,0.0

In [12]:

X = data_scaled.drop(['log_price'], axis =1)
y = final_df.log_price

In [13]:
y

0        5.010635
1        5.129899
2        4.976734
3        6.620073
4        4.744932
           ...
73946    4.605170
73947    5.043425
73948    5.220356
73949    5.273000
73950    4.852030
Name: log_price, Length: 73951, dtype: float64

In [14]:
X

,room_type_Entire home/apt,room_type_Private room,accommodates_1,median_home_value,child_friendly,bathrooms_1.0,accommodates_2,tv,accommodates_6,room_type_Shared room,...,accommodates_14,bathrooms_5.5,LA,bathrooms_5.0,number_of_reviews,super_host,air_conditioning,bed_type_Airbed,Chicago,coffee_machine
0,1.0,0.0,0.0,0.748624,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.184220,0.0,1.0,0.0,0.0,0.0
1,1.0,0.0,0.0,0.860864,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.326299,0.0,1.0,0.0,0.0,0.0
2,1.0,0.0,0.0,0.787699,1.0,1.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.402090,0.0,1.0,0.0,0.0,0.0
3,1.0,0.0,0.0,0.937492,0.0,1.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
4,1.0,0.0,0.0,0.633364,0.0,1.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.269878,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73946,0.0,1.0,1.0,0.627708,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
73947,1.0,0.0,0.0,1.000000,1.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.475086,0.0,0.0,0.0,0.0,0.0
73948,1.0,0.0,0.0,0.627708,1.0,1.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.634550,1.0,1.0,0.0,0.0,1.0
73949,1.0,0.0,0.0,0.939660,0.0,1.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,1.0,0.0,0.0,0.0
73950,1.0,0.0,0.0,0.342467,1.0,1.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.893402,1.0,0.0,0.0,0.0,0.0

In [15]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=101)

In [16]:
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures
from catboost import CatBoostRegressor
from sklearn.ensemble import GradientBoostingRegressor
from xgboost import XGBRegressor
from sklearn.ensemble import RandomForestRegressor

## XGBRegressor

In [17]:
from xgboost import XGBRegressor
from sklearn import metrics

xgb = XGBRegressor(objective='reg:squarederror')

xgb.fit(x_train, y_train)

y_pred_xgb = xgb.predict(x_test)

mae_xgb  = metrics.mean_absolute_error(y_test, y_pred_xgb)
mse_xgb  = metrics.mean_squared_error(y_test, y_pred_xgb)
rmse_xgb = np.sqrt(metrics.mean_squared_error(y_test, y_pred_xgb))
r2_xgb   = metrics.r2_score(y_test, y_pred_xgb)


print('\nMean Absolute Error of XGBoost Regressor     : ', mae_xgb)
print('\nMean Squarred Error of XGBoost Regressor     : ', mse_xgb)
print('\nRoot Mean Squarred Error of XGBoost Regressor: ', rmse_xgb)
print('\nR2 Score of XGBoost Regressor                : ', r2_xgb)

Mean Absolute Error of XGBoost Regressor     :  0.28612808486790214

Mean Squarred Error of XGBoost Regressor     :  0.15075098860306185

Root Mean Squarred Error of XGBoost Regressor:  0.388266646266534

R2 Score of XGBoost Regressor                :  0.700838868846838

In [24]:
k_t = pd.DataFrame({"gercek_y": np.exp(y[0:50]),
                    "tahmin_y": np.exp(xgb.predict(X)[0:50])})

k_t

    gercek_y    tahmin_y
0      150.0  156.632248
1      169.0  229.389938
2      145.0  150.634201
3      750.0  319.248627
4      115.0  110.174026
5       85.0  103.107353
6       83.0  122.185806
7      120.0  155.389175
8      120.0  102.691772
9       36.0   37.352726
10     100.0   96.234520
11     150.0  296.813995
12      70.0   96.733383
13     200.0  273.798615
14     142.0   85.774857
15      60.0   63.994080
16      75.0   70.945801
17      99.0   92.729607
18     132.0  156.162796
19      99.0  152.086700
20      80.0   62.166515
21      40.0   55.686920
22     135.0  140.760193
23      55.0   68.802017
24    1050.0  386.559540
25     149.0  130.255371
26      95.0  112.298859
27     149.0  111.857475
28     180.0  159.146118
29     105.0  114.343140
30      75.0   66.620117
31      46.0   72.441902
32     185.0  166.028549
33      89.0   71.125015
34      78.0  138.225891
35      80.0   60.061291
36     125.0  119.692848
37      50.0   66.860901
38     115.0  168.626068
39     108.0  108.487503
40     250.0  232.855255
41     120.0   82.652748
42      75.0   69.119408
43     148.0  170.598984
44     325.0  143.378143
45     250.0  205.775955
46     150.0  123.279907
47      55.0  104.807945
48      35.0   56.745323
49      55.0   55.437908

In [21]:
df_origin['amenities'][3]

'{TV,"Cable TV",Internet,"Wireless Internet",Kitchen,"Indoor fireplace","Buzzer/wireless intercom",Heating,Washer,Dryer,"Smoke detector","Carbon monoxide detector","First aid kit","Fire extinguisher",Essentials}'

In [23]:
df_origin.head()

         id  log_price property_type  ...  zipcode bedrooms  beds
0   6901257   5.010635     Apartment  ...    11201      1.0   1.0
1   6304928   5.129899     Apartment  ...    10019      3.0   3.0
2   7919400   4.976734     Apartment  ...    10027      1.0   3.0
3  13418779   6.620073         House  ...  94117.0      2.0   2.0
4   3808709   4.744932     Apartment  ...    20009      0.0   1.0

[5 rows x 29 columns]

# Tuning

{'learning_rate': 0.1, 'max_depth': 5, 'n_estimators': 300}
-0.19884401094124401

# Modeling notlar

## Geri donup denenecek yerler

- 
- Litaraturde hangi modeller neden kullanilmis
- Genl olarak modellerin ozellikleri, hangisi bizimkine uygun
- PCA
- Importanceleri belirlmek icin hangi yontemler var
- Gercek deger tahmin deger inclemesi(satirlar icin)
- Ml1 dersinde son yarim saat
- Name ve description ile alakali litaratur